{% extends 'base.html' %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %} <!-- user.is_authenticated가 True일 경우에만 아래 코드 실행됨. -->
    <h1>글 목록</h1>
    <div class="row">
        <!-- views.py의 main 함수에서 Post의 모든 객체를 all_posts라는 변수에 담고, 그걸 posts라 명명했던 거 기억나졔~~~~??? -->
        {% for post in posts %} <!-- posts(모든 Post 객체) 속에 있는 각각의 post를 하나씩 꺼내서 반복문을 돌린다. -->
            <div class="col-md-4 col-12">
                <div class="card" style="width: 18rem; margin-top: 20px;">
                    <div class="card-body">
                        <!-- html에서 변수를 띄우는 방법: 템플릿 태그를 쓴다. -->
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p>조회수 : {{ post.view_count }}</p>
                        <!-- urls.py의 show에 있는 <int:post_id> 값이 URL에 입력될 수 있도록 템플릿 태그 뒷 부분에 post.pk를 붙여줌. post.id라고 써도 됨. -->
                        <a href="{% url 'blog:show' post.pk %}" class="btn btn-primary">상세 보기</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %} <!-- user.is_authenticated가 False일 경우엔 위 코드 실행 안 되고 바로 아래 코드가 실행됨. -->
    <h3>로그인 후 이용이 가능합니다.</h3>
    <a href="{% url 'account_login' %}" class="btn btn-warning">로그인</a>
    <a href="{% url 'account_signup' %}" class="btn btn-warning">회원가입</a>
    {% endif %} <!-- user.is_authenticated if문 종료 -->
</div>
{% endblock %}
